<!doctype html>
<html>
<head>
  <%- include('head/main') %>
</head>
<body>
<header role="banner" class="transparent light">
  <%- include('header/main') %>
</header>
<div class="container">
  <div class="well">
    <div class="row">
      <div class="row">
        <div class="column">
          <h2 class="down-h2"><%= project.name %> <%= project.version %> <br>
            <span class="dowm-os">For Mac OS X:</span>
          </h2>
        </div>
        <div class="column" style="float: right; margin-right: -40px; margin-top: -48px;">
          <img src="images/macosx.png" alt="" title="">
        </div>
      </div>
      <!-- version -->
      <p>Download <%= site.small_description %></p>
      <p>The latest stable version:</p>
      <a href="/download/macosx/<%= project.name_lowercase %>-<%= project.version %>-x86_64.dmg">
        64 bit Mac OS X <%= project.version %> Installer (.dmg)
      </a>
      <a href="/download/macosx/<%= project.name_lowercase %>-<%= project.version %>-x86_64.zip">
        Application Archive <%= project.version %> (.zip)
      </a>
    </div>

    <div class="row">
      <div class="row">
        <div class="column">
          <h2 class="down-h2"><%= project.name %> <%= project.version %> <br>
            <span class="dowm-os">For Windows:</span>
          </h2>
        </div>
        <div class="column" style="float: right; margin-right: -40px; margin-top: -48px;">
          <img src="images/windows.png" alt="" title="">
        </div>
      </div>
      <!-- version -->
      <p>Download <%= site.small_description %></p>
      <p>The latest stable version:</p>
      <a href="/download/windows/<%= project.name_lowercase %>-<%= project.version %>-x86_64.exe">
        64 bit Windows <%= project.version %> Installer (.exe)
      </a>
      <a href="/download/windows/<%= project.name_lowercase %>-<%= project.version %>-x86_64.zip">
        64 bit Application Archive <%= project.version %> (.zip)
      </a>
    </div>

    <div class="row">
      <div class="row">
        <div>
          <h2>
            <%= project.name %> <%= project.version %> <span class="dowm-os">For Linux:</span>
          </h2>
        </div>
        <div>
          <img src="images/linux.png" alt="" title="">
        </div>
      </div>
      <!-- version -->
      <p>Download <%= site.small_description %></p>
      <p>The latest stable version:</p>
      <div class="row">
        <a href="/download/linux/<%= project.name_lowercase %>-<%= project.version %>-x86_64.deb">
          Debian/Ubuntu <%= project.version %> Package (.deb)
        </a>
      </div>
      <div class="row">
        <a href="/download/linux/<%= project.name_lowercase %>-<%= project.version %>-x86_64.rpm">
          Fedora/openSUSE <%= project.version %> Package (.rpm)
        </a>
      </div>
      <div class="row">
        <a href="/download/linux/<%= project.name_lowercase %>-<%= project.version %>-x86_64.tar.gz">
          Application Archive <%= project.version %> (.tar.gz)
        </a>
      </div>
    </div>

  </div>
</div>
<footer class="footer">
  <%- include('footer/main') %>
</footer>
</body>
</html>
