<!doctype html>
<html>
<head>
    <%- include('head/main') %>
</head>
<body>
<header role="banner" class="transparent light">
    <%- include('header/main') %>
</header>
<div class="container">
    <div class="well">
        <p><b>BECOME A BROADCASTER AND DELIVER YOUR CONTENT TO THE GLOBAL MARKET.</b></p>
        <p>
            <b>E-mail:<a href="mailto:<%- author.contact %>"><%- author.contact %></a></b>
        </p>
    </div>
</div>
<footer class="footer">
    <%- include('footer/main') %>
</footer>
</body>
</html>
