<!doctype html>
<html>
<head>
  <%- include('head/main') %>
  <style>
    .progress {
      position: relative;
    }

    .progress span {
      position: absolute;
      display: block;
      width: 100%;
      color: black;
    }
  </style>
  <script src="scripts/script.js" type="text/javascript"></script>
  <script src="<%= site.domain%>:<%= back_end.socketio_port %>/socket.io/socket.io.js"></script>
  
  <script>
    function update_bar(progress, text) {
      var $bar = $('.progress-bar');
      $bar.css('width', progress+'%').attr('aria-valuenow', progress);
      var $span = $bar.find('span');
      var ptext = progress + '% ' + text;
      $span.text(ptext);
      if (progress == 100) {
        $('.progress').removeClass('active');
      }
    }
        
    var socket = io.connect('<%= site.domain%>:<%= back_end.socketio_port %>');
    //on connetion, updates connection state and sends subscribe request
    socket.on('connect', function(data){
    });

    //when reconnection is attempted, updates status 
    socket.on('reconnecting', function(data){
    });

    //on new message adds a new message to display
    socket.on('message_rabbitmq', function (responce_json) {
      if (responce_json.email != '<%= user.local.email %>') {
        return;
      }

      if (responce_json.hasOwnProperty('error')){
        $('.progress-bar').removeClass('progress-bar-success');
        $('.progress-bar').addClass('progress-bar-danger');
        update_bar(100, responce_json.error);
      } else {
        $('#package_link').attr("href", responce_json.body);
        $('#package_link').show();
      }
      var build_button = $('#build_button');
      build_button.prop('disabled', false);
    });
        
    socket.on('status_rabbitmq', function (responce_json) {
      if (responce_json.email != '<%= user.local.email %>') {
        return;
      }
      update_bar(responce_json.progress, responce_json.message);
    });
        
    function send_build_request(id, user, password, platform, package_type, bit, argv) {
      var build_args = { "id" : id,
                         "platform": platform,
                         "package_type" : package_type,
                         "email" : user,
                         "password" : password,
                         "arch" : bit,
                         "argv" : argv
                       };
      var msg = JSON.stringify(build_args);
      socket.emit('publish_rabbitmq', msg);
    }
        
    function send_build_request_local(id, user, password) {
      var build_button = $('#build_button');
      build_button.prop('disabled', true);
      $('.progress-bar').removeClass('progress-bar-danger');
      $('.progress-bar').addClass('progress-bar-success');
      $('#package_link').hide();
      
      var device_selected = $('.device .active > a').attr('aria-controls');
      if (device_selected == "pc") { 
        var platform = $('.operatting_systems .active > a').attr('aria-controls');
        var os_ctrl = $('input[name=os]:checked');
        var package_type = os_ctrl.attr('package_type');
        var bit = os_ctrl.attr('bit');
        var argv = [];
        return send_build_request(id, user, password, platform, package_type, bit, argv);
      }
      
      var em_device = $('.em_device .active > a').attr('aria-controls');
      var device_ctrl = $('input[name=device]:checked');
      var platform = device_ctrl.attr('os');
      var package_type = device_ctrl.attr('package_type');
      var bit = device_ctrl.attr('bit');
      var argv = [];
      var hwaccel_checkbox = $('#hwaccel');
      if (hwaccel_checkbox.is(':checked')) {
        argv.push('-hwaccel auto');
      }
      var width_input = $('#width');
      var height_input = $('#height');
      argv.push('-vf scale=' + width_input.val() + 'x' + height_input.val());
      var power_off_on_exit_checkbox = $('#power_off_on_exit');
      if (power_off_on_exit_checkbox.is(':checked')) {
        argv.push('-poweroffonexit');
      }
      return send_build_request(id, user, password, platform, package_type, bit, argv);
    }            
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="well">
          <h2>Devices:</h2>
          <div>
            <ul class="nav nav-tabs device" role="tablist">
              <li role="presentation" class="active"><a href="#pc" aria-controls="pc" role="tab" data-toggle="tab"><i class="fa fa-laptop"></i> PC</a></li>
              <li role="presentation"><a href="#embedded" aria-controls="embedded" role="tab" data-toggle="tab"><i class="fa fa-television"></i> TV</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="pc">
                <h3>Operating systems:</h3>
                <div>
                  <ul class="nav nav-tabs operatting_systems" role="tablist">
                    <li role="presentation" class="active"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab"><i class="fa fa-windows"></i> Windows</a></li>
                    <li role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab"><i class="fa fa-linux"></i> Linux</a></li>
                    <li role="presentation"><a href="#macosx" aria-controls="macosx" role="tab" data-toggle="tab"><i class="fa fa-apple"></i> MacOS</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="windows">
                    <div data-toggle="buttons" class="buttons-row">
                      <label class="btn btn-primary active">
                        <input type="radio" name="os" value="windows_7_x64" bit="x86_64" package_type="NSIS" autocomplete="off" checked="checked"> Windows 7 x64
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="windows_8_x64" bit="x86_64" package_type="NSIS" autocomplete="off"> Windows 8 x64
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="windows_10_x64" bit="x86_64" package_type="NSIS" autocomplete="off"> Windows 10 x64
                      </label>
                    </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="linux">
                    <div data-toggle="buttons" class="buttons-row">
                      <label class="btn btn-primary active">
                        <input type="radio" name="os" value="ubuntu_x64" bit="x86_64" package_type="DEB" autocomplete="off" checked="checked"> Ubuntu x64</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="debian_x64" bit="x86_64" package_type="DEB" autocomplete="off"> Debian x64</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="centOS_x64" bit="x86_64" package_type="RPM" autocomplete="off"> CentOS x64</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="fedora_x64" bit="x86_64" package_type="RPM" autocomplete="off"> Fedora x64</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="arch_linux_x64" bit="x86_64" package_type="TGZ" autocomplete="off"> Arch Linux x64</label>
                    </div>
                    </div>          
                    <div role="tabpanel" class="tab-pane" id="macosx">
                    <div data-toggle="buttons" class="buttons-row">
                      <label class="btn btn-primary active">
                        <input type="radio" name="os" value="macosx_10_8_x64" bit="x86_64" package_type="DragNDrop" autocomplete="off" checked="checked"> MacOS 10.8 x64
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="macosx_10_9_x64" bit="x86_64" package_type="DragNDrop" autocomplete="off"> MacOS 10.9 x64
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="macosx_10_10_x64" bit="x86_64" package_type="DragNDrop" autocomplete="off"> MacOS 10.10 x64
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="os" value="macosx_10_11_x64" bit="x86_64" package_type="DragNDrop" autocomplete="off"> MacOS 10.11 x64
                      </label>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="embedded">
                <h3>Supported devices:</h3>
                <div>
                  <ul class="nav nav-tabs em_device" role="tablist">
                    <li role="presentation" class="active"><a href="#orange_pi" aria-controls="orange_pi" role="tab" data-toggle="tab"><i class="fa fa-orange-pi"></i> Orange PI</a></li>
                    <li role="presentation"><a href="#raspberry_pi" aria-controls="raspberry_pi" role="tab" data-toggle="tab"><i class="fa fa-raspberry-pi"></i> Raspberry PI</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="orange_pi">
                      <div data-toggle="buttons" class="buttons-row">
                        <label class="btn btn-primary active">
                          <input type="radio" name="device" value="orange_pi_one" os="linux" bit="arm" package_type="DEB" autocomplete="off" checked="checked"> Orange PI One
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="device" value="orange_pi_lite" os="linux" bit="arm" package_type="DEB" autocomplete="off"> Orange PI Lite
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="device" value="orange_pi_pc" os="linux" bit="arm" package_type="DEB" autocomplete="off"> Orange PI PC
                        </label>
                      </div>
                      <!-- common for orange_pi -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="raspberry_pi">
                      <div data-toggle="buttons" class="buttons-row">
                        <label class="btn btn-primary active">
                          <input type="radio" name="device" value="raspberry_pi_common" os="linux" bit="arm" package_type="DEB" autocomplete="off" checked="checked"> Raspberry PI Common
                        </label>
                      </div>
                      <!-- common for raspberry_pi -->
                    </div>
                    <!-- common for embedded -->
                    <div class="checkbox">
                      <label><input id="hwaccel" type="checkbox" value="" checked>Hardware acceleration</label>
                    </div>
                      <label>Resoution: <input id="width" value="1920" min="720" max="3840" placeholder="width">x<input id="height" value="1080" min="480" max="2160" placeholder="height"></label>
                    <div class="checkbox">
                      <label><input id="power_off_on_exit" type="checkbox" value="" checked>Power OFF on exit</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="well">
          <h2>Profile settings:</h2>
          <div>
            <ul class="nav nav-tabs" role="tablist" id="connection_settings">
              <li role="presentation" class="active">
                <a href="#base" aria-controls="base" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> Base</a>
              </li>
              <li role="presentation">
                <a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i> Advanced</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpane2" class="tab-pane form-inline active" id="base">
                <div>
                  <label>Email: <input type="text" disabled id="email" value='<%- user.local.email %>'></label>
                </div>
              </div>
              <div role="tabpane2" class="tab-pane form-inline" id="advanced">
                <div>
                </div>            
              </div>
            </div>
            
            <button id="build_package_button" class="btn btn-success btn-send" data-toggle="modal" data-target="#myModal">
              Build Package
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            <div class="build_container">
              <p>Do you want to start build package?</p>                   
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="max-width:1600px;">
                <span></span>
                </div>
              </div>
              <a href="" id="package_link" style="display:none">Click to download</a>
            </div>
          </div>
          <div class="modal-footer">                  
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="build_button" class="btn btn-primary" onclick="send_build_request_local('<%- user._id %>', '<%- user.local.email %>', '<%- user.local.password %>')">Start build</button>
          </div>
        </div>
      </div>
    </div>
    <% if (builded_packages.length > 0) { %>
      <h2>Ready to use builds:</h2>
      <% for (var i = 0; i < builded_packages.length; ++i) { %>
        <a href="<%= builded_packages[i].path %>"><%= builded_packages[i].file_name %></a></br>
      <% } %>
    <% } %> 
  </div>
</body>
</html>
