<!doctype html>
<html>
<head>
  <title><%- site.title %></title>
  <meta charset="utf-8">
  <meta name="description" content="<%- site.large_description %>"/>
  <meta name="keywords" content="<%- site.keywords %>" />
  <meta name="copyright" content="<%- site.domain %>" />
  <meta name="webmoney.attestation.label" CONTENT="webmoney attestation label#7DF987B9-C387-4DD0-BF5B-F23AB453166D" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
      body         { padding-top:80px; word-wrap:break-word; }
  </style>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%- site.google_analitics_token %>', 'auto');
    ga('send', 'pageview');
    function on_total_update() {
      var arr = document.getElementsByName('channel');
      var total = document.getElementById('total');
      var channels_ids = document.getElementById('c_id');
      var sum = 0;
      var channels_id_type = [];
      for(var i = 0; i < arr.length; i++){
        var checkbox = arr[i];
        if(checkbox.checked) {
          sum += parseFloat(checkbox.value);
          var cid = checkbox.getAttribute('channel_id');
          var ctype = checkbox.getAttribute('channel_type');
          channels_id_type.push({id : cid, type : ctype});
        }
      }
      total.value = sum;
      channels_ids.value = JSON.stringify(channels_id_type);
    
    }
  </script>
</head>
<body onload="on_total_update()">
  <div class="container">
    
    <div class="well">                
      <h2>Availible channels:</h2>
      <table class="table">
        <thead>
          <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% if (offical_channels.length > 0) { %>
          <% for (var i = 0; i < offical_channels.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= offical_channels[i].name %></td>
            <td><%= offical_channels[i].price %></td>
            <td><input type="checkbox" name="channel" channel_id="<%- offical_channels[i].id %>" onclick="on_total_update()" value=<%-offical_channels[i].price %> <%- offical_channels[i].checked %>></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
      <h2>Availible user channels:</h2>
      <table class="table">
        <thead>
          <tr>
          <th>#</th>
          <th>Name</th>
          <th>Url</th>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (private_channels.length > 0) { %>
          <% for (var i = 0; i < private_channels.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= private_channels[i].name %></td>
            <td><%= private_channels[i].url %></td>
            <td>
              <form action="/remove_private_channel" method="post">
                <input type="hidden" class="form-control" name="channel_id" value="<%= private_channels[i]._id %>">
                <button type="submit" class="btn btn-danger btn-xs">Remove</button>
              </form>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
      <form action="/add_private_channel" method="post">
        <div class="row">
          <div class="form-group">
            <label>Name:</label>
            <input class="form-control" name="private_channel_name">
          </div>
          <div class="form-group">
            <label>Url:</label>
            <input class="form-control" name="private_channel_url">
          </div>
          <button type="submit" class="btn btn-warning btn-small">Add</button>
        <div>
      </form>
      <div class="row">
        <div class="col-sm-6">
          <!-- Add channels FORM -->
          <form action="/add_channels" method="post">
            <input type="hidden" id="c_id" class="form-control" name="channels_id" value="">
            <button type="submit" class="btn btn-warning btn-small">Apply</button>
          </form>
        <div>
        <div class="col-sm-6">
          <p>TOTAL: <input id="total", value=0></p>
        <div>
      <div>
    </div>
    
  </div>
</body>
</html>
