<!doctype html>
<html>
<head>
  <%- include('head/main'); %>
  <script>
    function on_total_update() {
      var arr = document.getElementsByName('channel');
      var total = document.getElementById('total');
      var channels_id = document.getElementById('c_id');
      var sum = 0;
      var channels_id_type = [];
      for(var i = 0; i < arr.length; i++){
        var checkbox = arr[i];
        if(checkbox.checked) {
          sum += parseFloat(checkbox.value);
          var cid = checkbox.getAttribute('channel_id');
          channels_id_type.push(cid);
        }
      }
      total.value = sum;
      channels_id.value = JSON.stringify(channels_id_type);
    
    }
  </script>
  <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
</head>
<body onload="on_total_update()">
  <div class="container">
    <div class="well">                
      <h2>Availible channels:</h2>
      <table class="table">
        <thead>
          <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Tags</th>
          <th>In playlist</th>
          </tr>
        </thead>
        <tbody>
          <% if (offical_channels.length > 0) { %>
          <% for (var i = 0; i < offical_channels.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= offical_channels[i].name %></td>
            <td><%= offical_channels[i].price %></td>
            <td>
              <input data-role="tagsinput" value=<%- offical_channels[i].tags %> >
            </td>
            <td>
              <input type="checkbox" name="channel" channel_id="<%- offical_channels[i].id %>" onclick="on_total_update()" 
              value=<%-offical_channels[i].price %> <%- offical_channels[i].checked %>>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="well">
      <h2>Availible user channels:</h2>
      <table class="table">
        <thead>
          <tr>
          <th>#</th>
          <th>Name</th>
          <th>Url</th>
          <th>Tags</th>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (private_channels.length > 0) { %>
          <% for (var i = 0; i < private_channels.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= private_channels[i].name %></td>
            <td><%= private_channels[i].url %></td>
            <td>
              <input data-role="tagsinput" value=<%- private_channels[i].tags %> >
            </td>
            <td>
              <form action="/remove_private_channel" method="post">
                <input type="hidden" class="form-control" name="remove_channel_id" value="<%= private_channels[i]._id %>">
                <button type="submit" class="btn btn-danger btn-xs">Remove</button>
              </form>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
      <form class="form-inline" action="/add_private_channel" method="post">
        <div class="form-group">
          <input class="form-control" name="private_channel_name" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" name="private_channel_url" placeholder="Url">
        </div>
        <div class="form-group">
          <input class="form-control" data-role="tagsinput" id="private_channel_tags_id" name="private_channel_tags" placeholder="tags">
          <script>
          $('#private_channel_tags_id').tagsinput({
            typeahead: {
              source: function(query) {
                return $.getJSON('assets/channels_tags.json');
              }
            }
          });
          </script>
        </div>
        <button type="submit" class="btn btn-warning btn-small">Add</button>
      </form>
    </div>
    <!-- Apply channels FORM -->
    <form class="form-inline" action="/apply_channels" method="post">
      <div class="form-group">
        <label>TOTAL:</label>
      </div>
      <div class="form-group">
        <input class="form-control" id="total", value=0 disabled>
      </div>
      <input type="hidden" id="c_id" class="form-control" name="apply_channels_id" value="">
      <button type="submit" class="btn btn-warning btn-small">Apply</button>
    </form>
  </div>
</body>
</html>
