<!doctype html>
<html>
<head>
  <title><%- site.title %></title>
  <meta charset="utf-8">
  <meta name="description" content="<%- site.large_description %>"/>
  <meta name="keywords" content="<%- site.keywords %>" />
  <meta name="copyright" content="<%- site.domain %>" />
  <meta name="webmoney.attestation.label" CONTENT="webmoney attestation label#7DF987B9-C387-4DD0-BF5B-F23AB453166D" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
      body         { padding-top:80px; word-wrap:break-word; }
  </style>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%- site.google_analitics_token %>', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    <div class="well">                
    <h2>Availible channels:</h2>
    <table class="table">
      <thead>
        <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% if (channels.length > 0) { %>
        <% for (var i = 0; i < channels.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= channels[i].name %></td>
          <td><%= channels[i].price %></td>
          <td><input type="checkbox" name="" value="" checked=<%- channels[i].checked %>></td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
    <!-- Add channels FORM -->
    <form action="/add_channels" method="post">
      <input type="hidden" class="form-control" name="channels_id" value="">
      <button type="submit" class="btn btn-warning btn-small">Apply</button>
    </form>
    </div>
  </div>
</body>
</html>
