<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contribute</h4>
          <p>Please submit any issues, bugs and proposals via GitHub Issues:<br />
          <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in GitHub</a><br />
          Thank you for finding time to help us!</p>
      </div> 
      <div class="col-md-4">
        <h4>Credits</h4>
          <table>
            <tr>
              <td>
                <a href="http://ffmpeg.org" target="_blank" class="box" style="display:block;width:70px">FFmpeg</a>
                <a href="https://github.com/json-c/json-c" target="_blank" class="box" style="display:block;width:70px">json-c</a>
              </td>
              <td>
                <a href="https://www.libsdl.org" target="_blank" class="box" style="display:block;width:70px">SDL</a>
                <a href="https://redis.io" target="_blank" class="box" style="display:block;width:70px">Redis</a>
              </td>
            </tr>
          </table>
      </div>
      <div class="col-md-4">
        <h4>E-mail:</h4>
        <p>
          <a href="mailto:<%- author.contact %>"><%- author.contact %></a>
        </p>
      </div>
      <div class="col-md-4">
        <h4>Donate</h4>
        <table style="padding: 0px; margin: 0px;">
          <tr>
            <td>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" float="center">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QD9QB9UGF6VMY">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </td>
            <td>
              <form action="https://merchant.wmtransfer.com/lmi/payment.asp" method="POST"> <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="10.00"> <input type="hidden" name="LMI_PAYMENT_DESC_BASE64" value="RG9uYXRlIGZvciBGYXN0b05vU1FM"> <input type="hidden" name="LMI_PAYEE_PURSE" value="Z330657777229"> <input type="submit" class="wmbtn" style="font-famaly:Verdana, Helvetica, sans-serif!important;padding:0 10px;height:25px;font-size:12px!important;border:1px solid #538ec1!important;background:#2A3198!important;color:#fff!important; border-radius: 5px;" value=" pay 10.00 WMZ "> </form>
            </td>
          </tr>
        </table>
        <a href="https://www.bountysource.com/teams/fasto?utm_source=Fasto&utm_medium=shield&utm_campaign=raised" target="_blank"><img src="https://www.bountysource.com/badge/team?team_id=45005&style=raised" style="margin-left: 15%;"/></a>
      </div>                                                      
    </div>
    <div class="row">
      <p class="keep-left"><%- company.copyright %></p>
      <p class="keep-right"><a href="/"><%- site.title %></a> | <a href="help">Support</a></p>
    </div>
  </div>
</footer>